DB_NAME=my_db_name
DB_USER=my_db_user
DB_HOST=mariadb

WP_URL=profile.42.fr
WP_TITLE=Inception
WP_FULL_URL=https://profile.42.fr

CERT_FOLDER=/etc/nginx/certs
CERTIFICATE=/etc/nginx/certs/certificate.crt
KEY=/etc/nginx/certs/certificate.key
COUNTRY=DE
STATE=Berlin
LOCALITY=Berlin
ORGANIZATION=42
UNIT=42
COMMON_NAME=profile.42.fr