DB_NAME=mydb
DB_USER=sam
DB_HOST=mariadb

WP_URL=samcasti.42.fr
WP_TITLE=Inception
WP_FULL_URL=https://samcasti.42.fr

CERT_FOLDER=/etc/nginx/certs
CERTIFICATE=/etc/nginx/certs/certificate.crt
KEY=/etc/nginx/certs/certificate.key
COUNTRY=DE
STATE=Berlin
LOCALITY=Berlin
ORGANIZATION=42
UNIT=42
COMMON_NAME=samcasti.42.fr